{% extends 'yatracker/base.html' %}
{% block title %}
    Project modification
{% endblock %}

{% block content %}
    <div class="col-md-4" id="modify">
        <section id="inner_wrapper" class="login">
            <form method="post">
                <h1>{{ project.title }} <span class="badge badge-secondary">Project</span></h1>
                <div class="input-group">
                    <span class="input-group-text">Name</span>
                    <input class="form-control rounded-0" type="text" id="project_name" value={{ project.title }}>
                </div>
                <div class="input-group">
                    <span class="input-group-text">Description</span>
                    <textarea class="form-control rounded-0" id="project_description" rows="10" cols="30">{{ project.description }}</textarea>
                </div>




                <br>
                <h2>Participants <span class="badge badge-secondary">Team</span></h2>
                <div class="input-group mb-3">
{#                    {% for participant in project.students.objects %}#}
                    {% for participant in participants %}
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="check_participant">
                            </div>
                        </div>
                        <label class="form-control"> {{ participant.name }} {{ participant.surname }}</label>
                    {% endfor %}
                </div>




                <br>
                <h2>Non-Participants <span class="badge badge-secondary">Freshmen</span></h2>
                <div class="input-group">
                    {% for participant in non_participants %}
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="check_participant">
                            </div>
                        </div>
                        <label class="form-control"> {{ participant.name }} {{ participant.surname }}</label>
                    {% endfor %}
                </div>



                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="cancel" class="btn btn-secondary">Cancel</button>

            </form>
        </section>
    </div>
{% endblock %}